faiss-cpu
numpy
pandas==1.2.4
opencv-python-headless
Pillow==8.2.0
scipy
gdown
streamlit==0.82.0
streamlit-drawable-canvas==0.7.0
https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.10.0%2Bcpu-cp38-cp38-linux_x86_64.whl
tqdm==4.61.1